.logo {
  width: 100px;
  height: 100px;
}

#header {
    animation: backdrop-blur both ease-in-out;
    animation-timeline: scroll(root);
    animation-range: 10px 15px;
}

#header > span {
  animation: font both ease-in-out;
  animation-timeline: scroll(root);
  animation-range: 10px 200px;
}

#header > img {
    animation: scale both ease-in-out;
    animation-timeline: scroll(root);
    animation-range: 10px 200px;
}

@keyframes backdrop-blur {
    to{
        backdrop-filter: blur(10px);
    }
}

@keyframes font {
  to {
    font-size: 2.5rem;
  }
}

@keyframes scale {
    to{
        width: 50px;
        height: 50px;
    }
}